# ==========================
# FastAPI Application Settings
# ==========================

# Port on which the FastAPI app will run
WEB_PORT=3000

# Enable debug mode (also can trigger auto-reload in dev)
DEBUG=False

# ==========================
# CORS Settings
# ==========================

# Port on which the FastAPI app will run
# List of sources that are allowed to have access to the the app
# Example:
# CORS_ORIGINS=http://localhost:3000,https://myfrontend.com
CORS_ORIGINS=

# ==========================
# Database Settings
# ==========================

# Hostname or IP of the PostgreSQL server
DB_HOST=0.0.0.0

# Port PostgreSQL listens on
DB_PORT=5432

# PostgreSQL admin user initiated at DB creation
DB_ADMIN_USER=postgres  # It is recommended to leave default value to prevent issues with services
DB_ADMIN_PASSWORD=your_db_admin_password_here

# Name of the database your app will use
DB_NAME=contacts_app

# App-level PostgreSQL user and password
DB_APP_USER=app_user
DB_APP_PASSWORD=your_db_app_password_here

# ==========================
# Auth Settings
# ==========================

# Admin users settings
AUTH_SUPERADMIN_USERNAME=superadmin
AUTH_SUPERADMIN_EMAIL=superadmin@example.com
AUTH_SUPERADMIN_PASSWORD=superadmin_secret_password

# JWT token settings
AUTH_JWT_SECRET=your_jwt_secret_here
AUTH_JWT_ACCESS_EXPIRATION_SECONDS=3600
AUTH_JWT_REFRESH_EXPIRATION_SECONDS=604800
AUTH_JWT_ALGORITHM=HS256